[submodule "bundle/ctrlp.vim"]
	path = bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "bundle/vim-twig"]
	path = bundle/vim-twig
	url = https://github.com/beyondwords/vim-twig.git
[submodule "bundle/solarized"]
	path = bundle/solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/phpDocumentor"]
	path = bundle/phpDocumentor
	url = https://github.com/vim-scripts/PDV--phpDocumentor-for-Vim.git
[submodule "bundle/tern"]
	path = bundle/tern
	url = https://github.com/marijnh/tern_for_vim.git
[submodule "bundle/vim_indent_guides"]
	path = bundle/vim_indent_guides
	url = https://github.com/nathanaelkane/vim-indent-guides.git
[submodule "bundle/vim-javascript"]
	path = bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "bundle/vim-javascript-syntax"]
	path = bundle/vim-javascript-syntax
	url = https://github.com/jelera/vim-javascript-syntax.git
