[submodule "vim-twig"]
	path = vim-twig
	url = https://github.com/beyondwords/vim-twig.git
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/ack-vim"]
	path = bundle/ack-vim
	url = https://github.com/mileszs/ack.vim.git
[submodule "bundle/vin-twig"]
	path = bundle/vin-twig
	url = git@github.com:evidens/vim-twig.git
[submodule "bundle/vim-emmet"]
	path = bundle/vim-emmet
	url = https://github.com/mattn/emmet-vim.git
[submodule "bundle/vinegar"]
	path = bundle/vinegar
	url = git://github.com/tpope/vim-vinegar.git
[submodule "bundle/dracula-theme"]
	path = bundle/dracula-theme
	url = git@github.com:zenorocha/dracula-theme.git
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/bling/vim-airline
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-bufferline"]
	path = bundle/vim-bufferline
	url = https://github.com/bling/vim-bufferline
[submodule "bundle/gundo"]
	path = bundle/gundo
	url = http://github.com/sjl/gundo.vim.git
[submodule "bundle/vim-signify"]
	path = bundle/vim-signify
	url = https://github.com/mhinz/vim-signify
[submodule "bundle/vim-gitgutter"]
	path = bundle/vim-gitgutter
	url = git://github.com/airblade/vim-gitgutter.git
[submodule "bundle/vim-jsbeautify"]
	path = bundle/vim-jsbeautify
	url = https://github.com/maksimr/vim-jsbeautify.git
[submodule "bundle/vim-json"]
	path = bundle/vim-json
	url = git@github.com:elzr/vim-json.git
[submodule "bundle/vim-unimpaired"]
	path = bundle/vim-unimpaired
	url = git://github.com/tpope/vim-unimpaired.git
[submodule "bundle/vim-jsdoc"]
	path = bundle/vim-jsdoc
	url = git@github.com:heavenshell/vim-jsdoc.git
[submodule "bundle/vim-tern"]
	path = bundle/vim-tern
	url = git@github.com:ternjs/tern_for_vim.git
[submodule "bundle/vim-syntastc"]
	path = bundle/vim-syntastc
	url = git@github.com:scrooloose/syntastic.git
[submodule "bundle/vim-recover"]
	path = bundle/vim-recover
	url = git@github.com:chrisbra/Recover.vim.git
[submodule "bundle/scss-syntax"]
	path = bundle/scss-syntax
	url = git@github.com:cakebaker/scss-syntax.vim.git
[submodule "bundle/vim-javascript"]
	path = bundle/vim-javascript
	url = git@github.com:pangloss/vim-javascript.git
[submodule "bundle/typescript-vim"]
	path = bundle/typescript-vim
	url = git@github.com:leafgarland/typescript-vim.git
[submodule "bundle/tsuquyomi"]
	path = bundle/tsuquyomi
	url = git@github.com:Quramy/tsuquyomi.git
[submodule "bundle/vim-autoformat"]
	path = bundle/vim-autoformat
	url = git@github.com:Chiel92/vim-autoformat.git
[submodule "bundle/editorconfig-vim"]
	path = bundle/editorconfig-vim
	url = git@github.com:editorconfig/editorconfig-vim.git
[submodule "bundle/YouCompleteMe"]
	path = bundle/YouCompleteMe
	url = git@github.com:Valloric/YouCompleteMe
[submodule "bundle/vim-commentary"]
	path = bundle/vim-commentary
	url = git://github.com/tpope/vim-commentary.git
[submodule "bundle/Conque-Shell"]
	path = bundle/Conque-Shell
	url = git@github.com:vim-scripts/Conque-Shell.git
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = git@github.com:ctrlpvim/ctrlp.vim.git
